<header>
    <link rel="icon" type="image/png" href="images/hola daft punk.png"></link>
    <section class="wrapper">
        <h1>Hola, daft punk</h1>
        <div style="background: rgb(0, 255, 187)"></div>
        <div style="background: rgb(217, 0, 255)"></div>
        <div style="background: rgb(255, 204, 0)"></div>
        <div style="background: rgb(0, 255, 187)"></div>
        <div style="background: rgb(217, 0, 255)"></div>
        <div style="background: rgb(255, 204, 0)"></div>
        <div style="background: rgb(0, 255, 187)"></div>
        <div style="background: rgb(217, 0, 255)"></div>
        <div style="background: rgb(255, 204, 0)"></div>
        <div style="background: rgb(0, 255, 187)"></div>
    </section>
</header>
<body>
    <div id="header"></div>
    <div id="body"></div>
    <div id="aside"></div>
    <div id="footer"></div>
</body>
<footer></footer>
