<body>
    <section class="body" id="body">
        <div class="body-title" id="body-title">
            THIS IS THE MAIN BODY! Its so awesome :3
        </div>
        <section class="box" id="body-box">
            <pre>
            <div class="body-text" id = "body-text">
            So I essentially just put whatever information I want to in here
            and it will just
            OH YO
            <div class="body-title" id = "body-title">Title within title</div>
            </div>
            </pre>
        </section>
    </section>
</body>
<footer></footer>
