.body {
    justify-content: center;
    position: fixed;
    align-items: center;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px black;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    border-style: outset;
    border-width: 10px;
}

.body-title {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 19px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2.5%;
    box-shadow: 5px 5px 5px black;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    border-style: outset;
    border-width: 10px;
}

.box {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
    box-shadow: 5px 5px 5px black;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    border-style: outset;
    border-width: 10px;
}
